.container {
    display: flex;
    justify-content: center;
    height: 100vh;

}

.content {
    text-align: center;
    font-size: 35px;
}

.content button,
.content input[type="text"],
.content input[type="button"],
.content table {
    font-size: inherit;
}

body {
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
}

input {
    background-color: rgb(40, 40, 40);
    color: rgb(200, 200, 200);
}

table {
    margin: 0 auto;
    background-color: rgb(40, 40, 40);
}

table,
th,
td {
    padding: 15px;
    text-align: center;

    border-collapse: collapse;
}
